body {
  background-image: url("drl1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  text-align: center;
}
td {
  font-size: 17px;
  font-family: times;
}
hr {
  width: 175px;
}
p2 {
  font-size: 18px;
  font-family: times;
}
td {
  text-align: left;
}
li {
  text-align: center;
}
.info {
  width: 25%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
}
.recruit {
  width: 47%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
}
.achieve {
  width: 28%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
}
.l1 {
  text-align:left;
}
.scout {
  font-size: 18px;
  width:47%;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
  
}

.ae {
  width: 300px;
  height:350px;
}
.offers {
  width: 25%;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
  font-size:18px;
}
.crystal {
  font-size:18px;
  width: 28%;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
}
hr {
  width:100%;
}
footer {
  position:static;
  left:0;
  bottom:0;
  width:100%;
  color:black;
  text-align:center;
}
.social {
  width: 28%;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
  font-size:18px;
}
.twitter {
  text-align: center;
}
.eval {
  vertical-align: text-top;
  font-size: 16px;
  font-family: times;
  font-weight: bold;
}
.compare {
  width:25%;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
  font-size:18px;
}
.draft {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  border: 1px solid black;
  font-size:18px;
}
.lottery {
  vertical-align: text-top;
  font-weight: bold;
  font-size:18px;
}
.compar {
  vertical-align: text-top;
}
a {
  text-decoration: none;
}
p1 {
  color: black;
}
.morgan {
  font-size: 16px
}
.jwjpg {
  height:110px;
  width:100px;
}
h2 {
  background-color: red;
  color: black;
  text-align: center;
  margin: auto;
}
.georgia {
  width: 33px;
  height:28px;
  vertical-align: auto;
}
.pred {
  text-align: center;
}